/* History summary container */
.historySummary { 
  display: flex;
  flex-direction: column;       /* stack transactions + page controls */
  text-align: left;
  border-radius: 10px;
  min-height: 400px;
  box-sizing: border-box;
  position: relative;           /* allows page controls to stick to the bottom */
}

.pageControls {
  position: absolute;           /* stick to bottom */
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 14px 0 0 0;
  background-color: inherit;  
}

.pageControls button {
  cursor: pointer;
}

.totalSummary {
  min-height: 100px;
  text-align: left;
}

.specialIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
}

.specialIcon svg{
  position: relative;
  top: 0px;
}