.dashboardWrapper { 
    width: 100%;
    height: 90vh;
    background-color: white;
    border-radius: 30px;
    display: grid;
    grid-template-columns: auto auto; /* change grid size depending on component */
    margin-right: 10px;
}

.historySummary { 
    text-align: left;
    padding-left: 30px;
}

.expensesSummary{
    padding-top: 20px;
}
