/* just some variables */
:root {
  --navFont: 'Inter', sans-serif;
  --txtFont: 'Roboto', sans-serif;
  --txtWhite: rgba(255, 255, 255, 1);
  --txtBlack: rgba(0, 0, 0, 1);
}

.navbar{
  width: 20%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  box-sizing: border-box;
  justify-content: center; 
}

.navWrapper { 
  flex:1;
}

.navText a {
  flex-basis: auto;
  font-family: var(--navFont);
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;   
  color: var(--txtWhite);
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border-radius: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 50px;
}

.Title{
  font-family: var(--txtFont);
  font-size: 32px;
  color: var(--txtWhite);
  text-align: left;
  line-height: 1.3;
  margin-bottom: 75px; 
}